*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.main{
     height:100vh;
     background-image: url("./assets//Title-Image.png");
     background-size: 100% 100vh;
 }
nav{
     display: flex;
     justify-content: space-between;
    
 }
 .nav-left{
    display: flex;
 }
.logo{
    width: 150px;

}
.headbar{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.n{
    width: 40px;
}
h3{
    display: inline-flex;
    font-size: 20px;
    
}
h1{
    display: inline-flex;
    font-size: 80px;

}

}
.play{
    padding-left: 20px;
}
.a5{
    padding-left: 6px;
}
.arrow img{
   width: 15px;
}
.head_net{
    padding-top: 500px;
}



    

